<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!-- build:css -->
    <!-- endbuild -->

</head>
<body>
    <main>
        <section>
            <h1>Canvas Slider</h1>
            <canvas class="js-slider canvas-slider"></canvas>
            <span>Drag to navigate through images</span>
        </section>
    </main>

    <!--  Dummy data -->
    <script type="application/json" src="data/dcdogs.json"></script>

    <!-- build:js -->
    <!-- endbuild -->

    <script>
        // dummy data
        document.addEventListener('DOMContentLoaded', function() {
            var dcDogs = new CanvasSlider({
                element: '.js-slider',
                direction: 'horizontal',
                data: '/data/dcdogs.json',
                dimensions: {
                    width: '640',
                    height: '300'
                }
            });
        });
    </script>

</body>
</html>
