<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <!-- build:css -->
    <!-- endbuild -->

</head>
<body>
    <main>
        <section>
            <h1>Canvas Slider</h1>
            <select class="demo-select">
                <option>Horizontal</option>
                <option>Vertical</option>
                <option></option>
                <option></option>
            </select>
            <canvas class="js-slider canvas-slider"></canvas>
            <span>Drag to navigate through images</span>
        </section>
    </main>

    <!-- build:js -->
    <!-- endbuild -->
</body>
</html>
