.canvas-slider {
    display: block;
    background: #F0F0F0;
    outline:1px solid #d0d0d0;
    text-align: center;
    position: relative;
    margin: 3em auto;
}

.canvas-slider:hover {
    cursor: grab;
}

.canvas-slider:active {
    cursor: grabbing;
}