.canvas-slider {
    display: block;
    background: #e0e0e0;
    outline:1px solid #d0d0d0;
    text-align: center;
    margin: 3em auto;
}

.canvas-slider:hover {
    cursor: grab;
}

.canvas-slider:active {
    cursor: grabbing;
}


