.canvas-slider {
    display: block;
    background: darkcyan;
    text-align: center;
    margin: 3em auto;
}

.canvas-slider:hover {
    cursor: grab;
}

.canvas-slider:active {
    cursor: grabbing;
}


